body {
font-family: Arial, sans-serif;
width: 100%;
background-color: #393e46;
color: #f7f7f7
}
@media (max-width: 576px) {
body p {
    font-size: 10px;
}
}
/* NAVBAR STYLE */
.nav-title, a, .nav-link {
    color: inherit;
    text-decoration: none;
}
.nav-title:hover, .nav-link:hover {
    color: #f7f7f7;
    font-weight: bold;
    transform: scale(1.01);
}

/* NEWSLETTER  STYLE*/

.newsletter {
    background: linear-gradient(to bottom,#ff8b00, #000000);
    padding: 20px;
    margin: 0 auto;
}
.newsform input {
    border-radius: 8px;
    /* font-size: 1em; */
    padding-left: 10px;
}
.newform-button {
    background-color : #393e46;
    text-decoration: none;
    /* background: linear-gradient(to top, #8f1d14, #FCA311); */
    color: #f7f7f7;
    margin-left: 10px;
}
.newform-button:hover {
    font-weight: bolder;
    background-color: #5c636e;
    box-shadow: 2px 2px 5px #ff8b00;
    transform: scale(1.01);
    color: #f7f7f7;
}

.logo {
    width: 300px;
}

.logo {
    border-radius: 8px;
}

/* GENERAL FOOTER STYLE */
.footer {
    width: 100%;
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






