body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .dark-bg {
    background-color: #202020;
    color: white;
  }

  .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }

  .option {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .option:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  }

  .option img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .option h3 {
    margin-top: 15px;
    font-size: 20px;
  }

  .option p {
    margin-top: 10px;
    font-size: 14px;
  }

.option-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  .option-price {
    font-size: 18px;
    font-weight: bold;
  }

  .book-button {
    background-color: #fca311;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    /* transition: background-color 0.2s, transform 0.2s; */
  }

  .book-button:hover {
    /* background-color: #0b480d; */
    background-color: #a64500;
    transform: scale(1.09);
  }
  /* A mobile nav links */
  @media (max-width: 767px) {
      .book-button {
          font-size: 10px;
          padding: 0.1rem 0.2rem;
      }
  }

  .back-button {
    background: linear-gradient(to top, #8f1d14, #202020);
    color: antiquewhite;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    /* transition: background-color 0.2s, transform 0.2s; */
  }

  .back-button:hover {
    /* background-color: #0b480d; */
    background: linear-gradient(to top, #8f1d14, #FCA311);
    transform: scale(1.09);
  }
  /* A mobile nav links */
  @media (max-width: 767px) {
      .back-button {
          font-size: 10px;
          padding: 0.1rem 0.2rem;
      }
  }