.about {
    background-color: #ba8e4e;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    p, h2 {
        font-size:  12px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.abouttext {
    text-shadow: 2px 2px 5px #000;
}
.headshot {
    width:300px;
    border: 4px solid #5c636e; /* Border properties */
    /* box-shadow: 5px 5px 5px 5px #888; */
}
@media (max-width: 576px) {
    .headshot {
        width: 200px;
    }
}

.jyotish {
    width:300px;
    border: #5c636e;
    border: 4px solid #ccc; /* Border properties */
    /* box-shadow: 5px 5px 5px 5px #888; */
}
@media (max-width: 576px) {
    .jyotish {
        width: 200px;
    }
}
